#homeNav {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(24, 24, 24);
}

#searchTextBox::placeholder, #navUsernameTextBox::placeholder, #navPasswordTextBox::placeholder {
    color: rgb(87, 87, 87);
}

#searchTextBox, #navUsernameTextBox, #navPasswordTextBox {
    background-color: rgb(32, 32, 32);
}

#navSearchButton, #navSignInButton, #navRegisterButton, #navSubmitButton {
    background-color: rgb(32, 32, 32);
}